<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!--백엔드에서 보낸 객체 = List<Article> -->
<body>
<div class = "container">
    <div class = "row-6" th:each="item : ${articles}"> <!-- 받아온 Article 객체 만큼 반복 -->
        <div class="card">
            <div class="card-header" th:text="${item.id}">  <!-- item의 id 출력 -->
            </div>
            <div class="card-body">
                <h5 class = "card-title" th:text="${item.title}"></h5>
                <p lcass="card-text" th:text="${item.content}"></p>
                <a href="#" class="btn btn-primary">보러 가기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>